:root {
    --accent-color:#2196F3;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --secondary-text-color: #FFFFFF;
    --grey-bg-color: #2F303A;
    --white-bg-color: #E5E5E5;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
}

/*Верхняя линия*/

.header {
    background-color: var(--secondary-text-color);
    border-bottom: 1px #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo-header{
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.link {
    text-decoration: none;
}

.link:focus,
.link:hover {
    color: var(--accent-color);
}

.first-word {
    color: var(--accent-color);
}

.menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
}

.list {
    list-style-type: none;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-link {
    color: var(--title-text-color);
}

.current {
    color: var(--accent-color);
}

.contact {
    color: var(--primary-text-color);
}

.contact-menu {
    margin-left: 50px;
}
/*Шапка сайта*/

.hero {
    background-color: var(--grey-bg-color);
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
    width: 696px;
    text-align: center;
    text-transform: uppercase;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
}

/*Особенности*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
}

.feature-item {
    margin-left: 30px;
}

.feature-title {
    font-weight: 700;
    line-height: 1.14;
    color: var(--title-text-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

/*Чем мы занимаемся*/

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.work-container {
    display: flex;
    align-items: center;
    margin-left: -30px;
}
 
.work-item {
    margin-left: 30px;

}

/*Наша команда*/

.team {
    background-color: #F5F4FA;
}

.team-container {
    display: flex;
    align-items: center;
    margin-left: -30px;
}

.team-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-left: 30px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.person-name {
    margin-bottom: 10px;
    margin-top: 30px;
}

.job-name {
    font-weight: 400;
    color: var(--primary-text-color);
    padding-bottom: 30px;
}

/*Футер*/

.footer {
    background-color: var(--grey-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.address {
    margin-top: 20px;
}

.second-word {
    color: var(--secondary-text-color);
}

.address-item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.adress-link {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.adress-link:focus,
.adress-link:hover {
    color: var(--accent-color);
}

.contact-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
 
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/*Портфолио*/

.filter {
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    margin-left: -8px;
}

.filter-button {
    margin-left: 8px;
}

.portfolio-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    border-color: currentColor;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
}

.card-desc {
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.card-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/*Позиционирование*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}



.logo-footer {
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}





.card {
 background-color: var(--secondary-text-color);
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
}

/*Позиционирование портфолио*/



.card-set {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.card-set > .item {
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .portfolio-card {
    background: #FFFFFF;
    box-sizing: border-box;
  }
  
  .card-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
  }
  
  .card-text {
    margin-top: 4px;
  }